---
import AboutCard from "../AboutCard.astro";
const articleClassRight= "flex aboutarticle gridcenter content view faderight";
const articleClassLeft= "flex flex-row-reverse aboutarticle gridcenter content view fadeleft";
const figClass= " p-10 flex-auto shadow-lg bg-slate-100 radius-50 content box flex-auto";
const iClass= "";
---
<section id="about" class="about gradientbg gridcenter view mt-10 ">

  <section class="orbbg view">
  <article class="view gridcenter fadeleft  content">
  <figcaption class="text-3xl p-10 underline shadow-lg text-white">Who are we?</figcaption>
    
    
    <h2 class="text-5xl mb-5 text-white mt-5 shadow-lg"><em >Cybtech</em></h2>
    <figcaption class ={figClass}>
    <p class="text-xl">A multi-dimensional trans-humanist cybernetic consortium that focuses on a push towards perfection.</p>
    <p class="text-xl">With our four pronged approach to business and client relations, anyone can succeed within our structure.</p>
    <p class="text-xl">Perfection has never been this affordable. With our subscription services, 
      you merely need to let us copy your dna for cloning and serve in one of our subsidiary corporations for the time needed to pay off the debt.</p>
    </figcaption>
    </article>
    </section>
    
    <section class="aboutbg view ">
    <AboutCard articleClass={articleClassRight}
              figcaptionClass={figClass}
              imgClass={iClass}
              figcaption="At Cybtech we here flourish on enhancements. We believe the future lies in the ability to process great amounts of information quickly."
              src="./about1.svg"
              />
    </section>

    <section class="aboutbg view">
    <AboutCard articleClass={articleClassLeft}
              figcaptionClass={figClass}
              imgClass={iClass}
              figcaption="The ability to understand and analyze this data can be enhanced. Leading us to our motto. Enhance this, Enhance that."
              src="./about3.svg"
              />
    </section>

    <section class="aboutbg view">
    <AboutCard articleClass={articleClassRight}
             figcaptionClass={figClass}
             imgClass={iClass}
             figcaption="Why? Because it always works out."
             src="./about2.svg"
             />
    </section>

    <section class="aboutbg view">
    <AboutCard articleClass={articleClassLeft}
             figcaptionClass={figClass}
             imgClass={iClass}
             figcaption="The difference between us and the competition? Our non-stop ability to maintain our course through problematic enterprises."
             src="./about5.svg"
             />
    </section>
  
</section>