---
import ProductCard from "../ProductCard.astro";
const articleClass="flex-auto p-10";

---
<section id="examples" class="examples gridcenter view">
  <article class="text-2xl">
    <h2>Pick and Choose:</h2>
    <p>Every part will work, guaranteed. Nothing to worry about.</p>
    <p>There is no competition when you are the best.</p>
  </article>

  <section class=" scroll-parent overflow-hidden ">



    <section class="scroll-element primary ">
    <ProductCard articleClass={articleClass}
                 src="./arm1.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./arm2.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./arm3.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./leg1.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./leg2.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./leg3.svg"
                 />
    <ProductCard articleClass={articleClass}
                 src="./leg4.svg"
                 />
    </section>

    <section class="scroll-element secondary ">
      <ProductCard articleClass={articleClass}
                   src="./arm1.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./arm2.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./arm3.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./leg1.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./leg2.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./leg3.svg"
                   />
      <ProductCard articleClass={articleClass}
                   src="./leg4.svg"
                   />
      </section>
      





    </section>
  </section>
  