---
import FeatureCard from "../FeatureCard.astro";
const articleLeft="p-10 flex-auto shadow-lg faderight";
const articleRight="p-10 flex-auto shadow-lg fadeleft";
const figure= "mb-10 shadow-lg";
const img="";
const figcap ="text-2xl shadow-lg";
---
<section id="features" class="features gridcenter flex flex-row flex-wrap gap-10 p-10 view">

  <FeatureCard articleClass={articleRight}
               figureClass={figure}
               imgClass={img}
               figcaptionClass={figcap}
               src="./arm1.svg"
               figcaption= "Step One brings about all the change you would ever need in your life."
                />

  <FeatureCard articleClass={articleLeft}
                figureClass={figure}
                imgClass={img}
                figcaptionClass={figcap}
                src="./arm1.svg"
                figcaption= "Step Two alters your genome to accept everything we can give.     "
                 />

  <FeatureCard articleClass={articleRight}
                 figureClass={figure}
                 imgClass={img}
                 figcaptionClass={figcap}
                 src="./arm1.svg"
                 figcaption= "Step Three burns out all your neurons. Depleting your mind of all willpower."
                  />

</section>