---
import PricingCard from "../PricingCard.astro";
const tierOne = ({ title:"The Free Tier", 
                   description:"This is a free tier for the cybtech cybernetics implants",
                   perkOne:"Two implants with a single year of free maintenance!",
                   perkTwo:"Access to our member dashboard to view enhanced biometric features.",
                   perkThree: "Access to our bargain network with access to deals not available to the public!",
                   cost: "FREE",
                   button: "Sign up!"})
const tierTwo = ({ title:"The Free Tier", 
                   description:"This is a free tier for the cybtech cybernetics implants",
                   perkOne:"Two implants with a single year of free maintenance!",
                   perkTwo:"Access to our member dashboard to view enhanced biometric features.",
                   perkThree: "Access to our bargain network with access to deals not available to the public!",
                   cost: "FREE",
                   button: "Sign up!"})
---
<section id="pricing" class="pricing gridcenter view">
  <h2 class="text-3xl">Pricing</h2>
  <section class="grid grid-cols-3 gap-10">


    <PricingCard title={tierOne.title} 
                 description={tierOne.description} 
                 perkOne={tierOne.perkOne} 
                 perkTwo={tierOne.perkTwo} 
                 perkThree={tierOne.perkThree} 
                 cost={tierOne.cost}
                 button={tierOne.button}
                 />
    
    <PricingCard title={tierOne.title} 
                 description={tierOne.description} 
                 perkOne={tierOne.perkOne} 
                 perkTwo={tierOne.perkTwo} 
                 perkThree={tierOne.perkThree} 
                 cost={tierOne.cost}
                 button={tierOne.button}
                 />
                
   <PricingCard title={tierOne.title} 
                 description={tierOne.description} 
                 perkOne={tierOne.perkOne} 
                 perkTwo={tierOne.perkTwo} 
                 perkThree={tierOne.perkThree} 
                 cost={tierOne.cost}
                 button={tierOne.button}
                 />
   



  </section>

</section>
